<table>
  <thead>
    <tr>
      <th colspan="2">
        <h1>StarShips</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Player: <span id="name-one">{{modelPlayers.playerOneName}}</span>
      </td>
      <td>
        Player: <span id="name-two">{{modelPlayers.playerTwoName}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Name: <span id="name-one">{{modelPlayerOne.name}}</span>
      </td>
      <td>
        Name: <span id="name-two">{{modelPlayerTwo.name}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Model: <span id="model-one">{{modelPlayerOne.model}}</span>
      </td>
      <td>
        Model: <span id="model-two">{{modelPlayerTwo.model}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Max Atmosphering Speed: <span id="max-stmosphering-speed-one">{{modelPlayerOne.maxAtmospheringSpeed}}</span>
      </td>
      <td>
        Max Atmosphering Speed: <span id="max-stmosphering-speed-two">{{modelPlayerTwo.maxAtmospheringSpeed}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Cost In Credits: <span id="cost-in-credits-one">{{modelPlayerOne.costInCredits}}</span>
      </td>
      <td>
        Cost In Credits: <span id="cost-in-credits-two">{{modelPlayerTwo.costInCredits}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Crew: <span id="crew-one">{{modelPlayerOne.crew}}</span>
      </td>
      <td>
        Crew: <span id="crew-two">{{modelPlayerTwo.crew}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Length: <span id="length-one">{{modelPlayerOne.length}}</span>
      </td>
      <td>
        Length: <span id="length-two">{{modelPlayerTwo.length}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Starship Class: <span id="starship-class-one">{{modelPlayerOne.starshipClass}}</span>
      </td>
      <td>
        Starship Class: <span id="starship-class-two">{{modelPlayerTwo.starshipClass}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Cargo Capacity: <span id="cargo-capacity-one">{{modelPlayerOne.cargoCapacity}}</span>
      </td>
      <td>
        Cargo Capacity: <span id="cargo-capacity-two">{{modelPlayerTwo.cargoCapacity}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Hyperdrive Rating: <span id="hyperdrive-rating-one">{{modelPlayerOne.hyperdriveRating}}</span>
      </td>
      <td>
        Hyperdrive Rating: <span id="hyperdrive-rating-two">{{modelPlayerTwo.hyperdriveRating}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Passengers: <span id="passengers-one">{{modelPlayerOne.passengers}}</span>
      </td>
      <td>
        Passengers: <span id="passengers-two">{{modelPlayerTwo.passengers}}</span>
      </td>
    </tr>
  </tbody>
</table>
