<table>
  <thead>
    <tr>
      <th colspan="2">
        <h1>People</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Player: <span id="name-one">{{modelPlayers.playerOneName}}</span>
      </td>
      <td>
        Player: <span id="name-two">{{modelPlayers.playerTwoName}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Name: <span id="name-one">{{modelPlayerOne.name}}</span>
      </td>
      <td>
        Name: <span id="name-two">{{modelPlayerTwo.name}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Height: <span id="height-one">{{modelPlayerOne.height}}</span>
      </td>
      <td>
        Height: <span id="height-two">{{modelPlayerTwo.height}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Mass: <span id="mass-one">{{modelPlayerOne.mass}}</span>
      </td>
      <td>
        Mass: <span id="mass-two">{{modelPlayerTwo.mass}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Hair Color: <span id="haircolor-one">{{modelPlayerOne.hairColor}}</span>
      </td>
      <td>
        Hair Color: <span id="haircolor-two">{{modelPlayerTwo.hairColor}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Skin Color: <span id="skincolor-one">{{modelPlayerOne.skinColor}}</span>
      </td>
      <td>
        Hair Color: <span id="skincolor-two">{{modelPlayerTwo.skinColor}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Eye Color: <span id="eyecolor-one">{{modelPlayerOne.eyeColor}}</span>
      </td>
      <td>
        Eye Color: <span id="eyecolor-two">{{modelPlayerTwo.eyeColor}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Birth Year: <span id="birthyear-one">{{modelPlayerOne.birthYear}}</span>
      </td>
      <td>
        Birth Year: <span id="birthyear-two">{{modelPlayerTwo.birthYear}}</span>
      </td>
    </tr>
    <tr>
      <td>
        Gender: <span id="gender-one">{{modelPlayerOne.gender}}</span>
      </td>
      <td>
        Gender: <span id="gender-two">{{modelPlayerTwo.gender}}</span>
      </td>
    </tr>
  </tbody>
</table>
