<h1>People</h1>

<p>Name: {{this.model.name}}</p>
<p>Height: {{this.model.height}}</p>
<p>Mass: {{this.model.mass}}</p>
<p>Hair Color: {{this.model.hairColor}}</p>
<p>Skin Color: {{this.model.skinColor}}</p>
<p>Eye Color: {{this.model.eyeColor}}</p>
<p>Birth Year: {{this.model.birthYear}}</p>
<p>Gender: {{this.model.gender}}</p>
<a class="nav-link" href={{this.model.starships}}>Starships<span class="sr-only">(current)</span></a>
